body {
    font-family: Helvetica, "Nimbus Sans L", "Liberation Sans", Arial, sans-serif;
    padding: 1em;
    margin: auto;
    font-size: 20pt;
    max-width:500px;
}

#greeting{
    font-weight: bold;
}

a { color: darkblue; }

