body {
    font-family: Helvetica, "Nimbus Sans L", "Liberation Sans", Arial, sans-serif;
    padding-left: 1em;
    font-size: 12pt;
}

a {
    color: darkblue;
    text-decoration: underline;
}

a:hover { cursor: pointer; }
