<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <title>Bell test</title>
  <link rel="stylesheet" href="/static/css.css">
  <script src="/static/jquery.js"></script>
  <script src="/static/main.js"></script>
</head>

<body>

<div id=whoareyou>
    <p> Who are you?  </p>

    <ul>
        <li id=alice> I'm <a onclick="setName('alice');">Alice</a>.
        <li id=bob> I'm <a onclick="setName('bob');">Bob</a>.
    </ul>
</div>

<p id=greeting>
</p>

<div id=coins style="display:none;">
<p> What's your coin flip?  </p>

<ul>
    <li id=heads>I got <a onclick="setCoin('heads');">heads</a> 
    <li id=tails>I got <a onclick="setCoin('tails');">tails</a>
</ul>

<p id=output>
</p>
</div>


</body>
</html>
